body{
    background-color: #fcfcf7;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

aside{
    background-color: #163172;
}

:root {
    --color-secondary: #ACE2E1;
    /* ... */
  }

@layer components {
.card {
    @apply w-2/5 bg-white rounded-lg shadow-md overflow-hidden transition-transform transform hover:-translate-y-1 hover:shadow-lg duration-300;
}
}

#SuppliesFormCard {
    z-index: 50; /* Increase the z-index  */
}

.relative {
    position: relative;
}

.dataTables_filter {
    display: none;
}

#dynamicTable tbody tr:nth-child(even) {
    background-color: #dfdfdf; /* Light gray for even rows */
}
#dynamicTable tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.table_color{
    background-color: #163172;
}

.lefttxtdata
{
    text-align: left !important;
}



/* .datepicker {
    background-color: #fff;
    border: 1px solid #d2d6dc;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
} */
