#SpecFormCard {
    z-index: 50; /* Increase the z-index  */
}

#SpecFacTable tbody tr:nth-child(even) {
    background-color: #dfdfdf; /* Light gray for even rows */
}
#SpecFacTable tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.table_color{
    background-color: #163172;
}

.lefttxtdata
{
    text-align: left !important;
}